<div class="row">

  <div class="col-md-4"><h1 class="text-center">To Do</h1>
  <%= render @to_do %>
    
    <!--<div class="panel panel-info">

      <div class="panel-heading">
      Heading
        
      </div>

      <div class="panel-body">
      Content


      </div>

      <div class="panel-footer text-center">
      Footer
      </div>
    </div> -->


  </div>

  <div class="col-md-4"><h1 class="text-center">Doing</h1>
  <%= render @doing %>  


    <!--
    <div class="panel panel-info">

      <div class="panel-heading">
      Heading
        
      </div>

      <div class="panel-body">
      Content


      </div>

      <div class="panel-footer text-center">
      Footer
      </div>
    </div> 
    -->
    
  </div>

  


  <div class="col-md-4"><h1 class="text-center">Done </h1>
    <%= render @done %>

    <!--
    <div class="panel panel-info">

      <div class="panel-heading">
      Heading
        
      </div>

      <div class="panel-body">
      Content ola


      </div>

      <div class="panel-footer text-center">
      Footer
      </div>
    </div>
    -->

  </div>
  
 </div>
  
</div>

<br> 

<%= link_to 'New Task', new_task_path %>
